<%= render partial: 'layouts/messages', locals: {object: @garden} %>

<%= form_with(model: [@gardener, @garden], local: true) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :variety %>
    <%= f.select :variety, ["vegetable","flower","cactus","succulent","grass","tree","herb"]%>
  </div>

    <%= f.submit %>
<% end %>
