<h1>welcome <%= @gardener.username %></h1>

<p>
  <strong>Gardener:</strong>
  <%= @gardener.first_name %>
</p>

<!-- @gardens here gives me a collection of garden objects owned by a specific gardener -->
<h2>My Gardens</h2>
<% @gardens.each do |g| %>
    <ul>
      <li><%= link_to "#{g.name}", gardener_garden_path(g.gardener.id, g.id) %></li>
  </ul>
<% end %>
<br>

<div class="button">
  <!-- Create Garden link needs to direct to gardeners/id/gardens/new -->
  <%= link_to 'Create Garden', new_gardener_garden_path(@gardener) %><br>
  <!-- Not convinced I need a gardener edit function and path -->
  <%= link_to 'Edit', edit_gardener_path(@gardener) %>
</div>
