<!DOCTYPE html>
<html>
  <head>
    <title>GardenBuilder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
      <section>
        <%= link_to_unless_current "Home", root_url %> |
        <%= link_to_unless_current "Sign Up", signup_path %> |
        <%= link_to_unless_current "Log in", login_path %> |
        <%= link_to_unless_current "Log Out", logout_path, method: :post %>
      </<section>
    </nav>


    <!-- content -->
    <div class="container"  role="main">
        <% if flash[:notice] %>
          <%= flash[:notice] %>
        <% end %>
        <br>
        <br>
    <%= yield %>
  </body>
</html>
