<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GardenBuilder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <%= render 'layouts/nav_menu' %>
    </header>
    <main class="container" role="main">
      <%= yield %>
      <a class="btn btn-primary btn-md" <%= link_to 'Back', :back %> </a>
    </main>

    <footer>
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
