<!DOCTYPE html>
<html>
  <head>
    <title>GardenBuilder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if !current_page?(root_path) %>
        <%= render 'layouts/nav_menu' %>
      <% end %>
    </header>

    <!-- content -->
    <div class="container"  role="main">
    <%= yield %>
  </body>
</html>

<!--
  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>
  <br>
  -->
