<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GardenBuilder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <!--  if current_user  -->
        <%= render 'layouts/nav_menu' %>
      <!-- end -->
    </header>
    <main class="container" role="main">
      <%= yield %>
    </main>

    <footer>
      <% if current_user %>
        <%= link_to 'Back', :back %>
      <% end %>
    </footer>
  </body>
</html>
